name: Rust

on:
  workflow_dispatch:
  push:
    paths:
      - '**'
      - '!README.md'
      - '!LICENSE*'
      - '!NOTICE*'
      - '!docs/**'
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build crate
      run: cargo build --verbose
    - name: Build examples
      run: cargo build --examples --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Build docs
      run: cargo doc --verbose
    - name: Build binary
      run: cargo build --bin pico-otp --verbose
    - name: Run binary
      run: cargo run --bin pico-otp -- json/sample-wl.json